* {
  margin: 0;
  padding: 0;
  user-select: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: #e9edf3;
}
P {
  margin: 0;
}
button:hover {
  cursor: pointer;
}

.none {
  display: none;
}

.justify-center {
  justify-content: center;
}

.center {
  align-items: center;
}

.pt-8 {
  padding-top: 0.5rem;
}
.pb-8 {
  padding-bottom: 0.5rem;
}
.pt-16 {
  padding-top: 1rem;
}
.pb-16 {
  padding-bottom: 1rem;
}
.pb-80 {
  padding-bottom: 10rem;
}

.flex {
  display: flex;
}

.scroll-stop {
  overflow: hidden;
}

.weight700 {
  font-weight: 700;
}

.pb-40 {
  padding-bottom: 2.5rem;
}

.py-40 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.pt-40 {
  padding-top: 2.5rem;
}

.gap8 {
  gap: 0.5rem;
}

.text-center {
  text-align: center;
}

.scale10 {
  scale: 1.1;
}

#gnb {
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #050c17;
  color: white;
  z-index: 5;
  font-weight: 600;
}
#gnb > div {
  max-width: 37.5rem;
}
.Hamburger {
  display: none;
}
#gnb1 {
  align-items: center;
  font-size: 2rem;
  display: flex;
}
#gnb1 > div:hover {
  cursor: pointer;
}
#gnb2 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
}
#gnb2 > div {
  display: flex;
  align-items: center;
}

#visual > #hero {
  max-width: 70.5rem;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
}

#visual > #hero > .hero-content {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-right: 2rem;
  gap: 3rem;
}

#visual > #hero > .hero-content > ul > li {
  color: #6b7a90;
  list-style: none;
  line-height: 1.7rem;
}

#visual > #hero > .hero-content > .hero-title {
  font-size: 2.2rem;
  padding-bottom: 1rem;
  color: #182538;
}

#visual > #hero > .hero-content > .button-area {
  padding: 1rem 0;
}

/* ETC */
.button {
  display: inline-flex;
  line-height: 1rem;
  min-width: 6.25rem;
  border: none;
  height: 3rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3.125rem;
  background: #6736dd !important;
}

#visual > #hero > .hero-media {
  position: relative;
}

#visual > #hero > .hero-media > .hero-profile {
  width: 38.75rem;
}

#visual > #hero > .hero-media > .hero-profile > .profile {
  position: relative;
  left: 8rem;
  display: inline-block;
  padding: 0.5rem;
  background: #fff;
  transform: rotate(15deg);
  border: 0.0625rem solid #efefef;
  box-shadow: 0.3125rem 0.1875rem 2.3125rem -0.9375rem rgba(100, 97, 97, 0.8);
  -webkit-box-shadow: 0.3125rem 0.1875rem 2.3125rem -0.9375rem rgba(100, 97, 97, 0.8);
  -moz-box-shadow: 0.3125rem 0.1875rem 2.3125rem -0.9375rem rgba(100, 97, 97, 0.8);
  z-index: 2;
}

#visual > #hero > .hero-media > .hero-profile > .profile > img {
  height: inherit;
}
/* #visual > #hero > .hero-media > .hero-media-illustration {
  position: absolute;
  z-index: 1;
  top: -10%;
  left: 6.25rem;
} */

.hero-media-illustration {
  position: absolute;
  right: 0;
}

#gnb2 > div:hover {
  cursor: pointer;
}
.fadeup {
  animation: fade_up 0.5s;
}
@keyframes fade_up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.first-div {
  background-color: #e9edf3;
  width: 100%;
  display: flex;
  justify-content: center;
}
.op-0 {
  opacity: 0;
}
#first-info {
  width: 65rem;
  background-color: #e9edf3;
  height: 32.5rem;
  padding-top: 10rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}

.mini-title {
  font-size: 1.75rem;
  color: #6b7a90;
  padding-bottom: 2rem;
  font-weight: 700;
  text-align: center;
}

.first-contents {
  width: 62.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 5.5rem;
}

.pl-1rem {
  padding-left: 1rem;
}

.pl-2rem {
  padding-left: 2rem;
}

#circle-1-color {
  border: #90d1bb 4px solid;
}
.out-1-color {
  border-color: #90d1bb transparent transparent transparent;
}
#bar-1-color {
  background-color: #5f8e7c;
}
#card-1-color {
  color: #90d1bb;
}

#circle-2-color {
  border: #fcc76d 4px solid;
}
.out-2-color {
  border-color: #fcc76d transparent transparent transparent;
}
#bar-2-color {
  background-color: #e1a846;
}
#card-2-color {
  color: #fcc76d;
}

#circle-3-color {
  border: #cd7d64 4px solid;
}
.out-3-color {
  border-color: #cd7d64 transparent transparent transparent;
}
#bar-3-color {
  background-color: #b4654f;
}
#card-3-color {
  color: #cd7d64;
}

#circle-4-color {
  border: #fbb3c7 4px solid;
}
.out-4-color {
  border-color: #fbb3c7 transparent transparent transparent;
}
#bar-4-color {
  background-color: #fd97b3;
}
#card-4-color {
  color: #fbb3c7;
}

#circle-5-color {
  border: #b29acd 4px solid;
}
.out-5-color {
  border-color: #b29acd transparent transparent transparent;
}
#bar-5-color {
  background-color: #8b67b1;
}
#card-5-color {
  color: #b29acd;
}

#circle-6-color {
  border: #90d1bb 4px solid;
}
.out-6-color {
  border-color: #90d1bb transparent transparent transparent;
}
#bar-6-color {
  background-color: #5f8e7c;
}
#card-6-color {
  color: #90d1bb;
}

#circle-7-color {
  border: #fcc76d 4px solid;
}
.out-7-color {
  border-color: #fcc76d transparent transparent transparent;
}
#bar-7-color {
  background-color: #e1a846;
}
#card-7-color {
  color: #fcc76d;
}

#circle-8-color {
  border: #cd7d64 4px solid;
}
.out-8-color {
  border-color: #cd7d64 transparent transparent transparent;
}
#bar-8-color {
  background-color: #b4654f;
}
#card-8-color {
  color: #cd7d64;
}

#circle-9-color {
  border: #fbb3c7 4px solid;
}
.out-9-color {
  border-color: #fbb3c7 transparent transparent transparent;
}
#bar-9-color {
  background-color: #fd97b3;
}
#card-9-color {
  color: #fbb3c7;
}

.educate {
  text-align: center;
}
.educate-grid {
  display: grid;
  gap: 1.25rem;
}

.educate-grid > div {
  display: flex;
  flex-direction: column;
}

.educate-card-out-img-div {
  height: 2.5rem;
  position: relative;
}

.educate-card-out-img-circle {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 3;
  border-radius: 100%;
}

.educate-card-out-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.25rem;
  font-weight: 600;
}

.educate-card-out-img {
  width: 14rem;
  height: 0;
  border-style: solid;
  border-width: 1.25rem 0.375rem 0rem 0.375rem;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.educate-card-out-barimg {
  width: 16rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  height: 1.25rem;
  z-index: 1;
}

.educate-card {
  background-color: #eef4fa;
  border-radius: 0.5rem;
  padding: 0px 1.25rem 1.25rem 1.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  flex: 1;
}
.educate-icon-bg {
  display: flex;
  justify-self: center;
  width: 212px;
  height: 0;
  border-style: solid;
  border-width: 1.25rem 0.375rem 0rem 0.375rem;
  margin-bottom: 1rem;
}

.educate-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.625rem;
  background-color: #eef4fa;
}
.educate-card-text {
  font-size: 1rem;
  color: #666666;
}

#about-img {
  width: 50%;
}

#about-img > img {
  width: 80%;
}

#about-half {
  width: 50%;
}

.about-info {
  font-size: 1.25rem;
  color: #000000;
}
.about-contact {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about-contact-info {
  color: black;
  font-size: 1rem;
  font-weight: 600;
}

#about-github:hover {
  cursor: pointer;
}

.pb-1rem {
  padding-bottom: 1rem;
}

.pb-3rem {
  padding-bottom: 3rem;
}

#project {
  font-weight: 500;
}

#first-project,
#second-project {
  border-bottom: #90a5c414 0.25rem solid;
}

.project-top {
  padding: 0.5rem 0px 0.5rem 0px;
}

.project-top > * {
  padding: 0.5rem;
  color: #6b7a90;
}

.project-title {
  height: 2rem;
}

.project-title-text {
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.project-icon {
  height: 100%;
}

.project-contents {
  position: relative;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
}

.project-img {
  width: 48%;
}

.project-img > img {
  width: 100%;
  border: #bcbec2 1px solid;
  border-radius: 0.25rem;
}

.project-img > img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.5);
}

.project-doc-icons {
  height: 2rem;
  padding-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.project-doc-icons > img {
  height: 100%;
}

.project-doc-icons > img:hover {
  cursor: pointer;
  transition: transform 0.1s ease-out;
  transform: scale(1.2);
}

.project-contents-list {
  list-style: none;
  width: 50%;
  text-align: start;
  color: #6b7a90;
  padding: 0px 0.5rem 0.5rem 0.5rem;
  border-radius: 0.25rem;
}

.project-contents-list > li {
  padding: 8px 0px 0px 0px;
}

.project-contents-list > li > * {
  font-size: 0.875rem;
}

.project-contents-list-title {
  font-size: 1rem;
  padding-left: 0.25rem;
}

.skill-mini-title {
  color: #6b7a90;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
  font-weight: 600;
}

.skill-list {
  display: flex;
  gap: 3.125rem;
  padding-bottom: 3.5rem;
  flex-wrap: wrap;
}

.skill-info {
  box-sizing: border-box;
  width: 18.75rem;
  padding: 1.75rem;
  border: #ebf1f9 0.125rem solid;
  border-top: #dcdcdc 0.3125rem solid;
  background: linear-gradient(
    45deg,
    rgba(233, 237, 243, 1) 0%,
    rgba(242, 247, 252, 1) 100%
  );
  box-shadow: 3.125rem 1.9375rem 5.3125rem -2.3125rem rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 3.125rem 1.9375rem 5.3125rem -2.3125rem rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 3.125rem 1.9375rem 5.3125rem -2.3125rem rgba(0, 0, 0, 0.37);
}

.skill-info-img {
  height: 3rem;
  padding-left: 0.125rem;
  padding-bottom: 1rem;
}

.skill-info-img > img {
  height: 100%;
}

.skill-info-title {
  color: #44484e;
  font-size: 1.25rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

.skill-info-text {
  color: #6b7a90;
  line-height: 1.25rem;
}

#contact {
  padding-bottom: 5rem;
}

.contact-info {
  display: flex;
  font-size: 2rem;
  color: #6b7a90;
  justify-content: space-between;
}

.w-31rem {
  width: 31rem;
}

.w-31rem:nth-child(even) {
  text-align: end;
}

@media (width <= 70.5rem) {
  .hero-media-illustration {
    display: none;
  }
  #about-img {
    display: none;
  }
  #about-half {
    width: 100%;
  }
  #about-me {
    max-width: 50rem;
    padding-left: 3rem;
  }
}

@media (width > 70.5rem) {
  #hero {
    justify-content: space-between;
  }
  .hero-content {
    max-width: 70.5rem;
  }
  #visual {
    padding-top: 7rem;
  }
}

@media (width <= 70.5rem) {
  .hero-media {
    display: none;
  }
  #hero {
    justify-content: center;
  }
  .hero-content {
    padding-left: 2rem;
  }
}

@media (width > 53.75rem) {
  .educate-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  #gnb > div {
    width: 50%;
  }
}

@media (width > 38.5rem) {
  #gnb1 {
    padding-left: 6rem;
  }
  #gnb2 > div {
    height: 30%;
  }
}

@media (38.5rem < width <= 53.75rem) {
  .educate-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  #Hamburger-div {
    width: 80%;
  }
}

@media (width < 66.5rem) {
  .skill-list {
    justify-content: center;
  }
}

@media (width <= 53.75rem) {
  .project-contents {
    flex-direction: column;
    gap: 0.5rem;
  }
  .project-img {
    width: auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .project-img > img {
    width: 50%;
  }
  .project-doc-icons {
    flex-direction: column;
  }
  .project-contents-list {
    width: auto;
    position: relative;
  }
  #gnb1 {
    width: 20%;
  }
}

@media (width <= 38.5rem) {
  .educate-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  #gnb {
    justify-content: space-between;
  }
  #gnb1 {
    width: 20%;
    min-width: 88px;
    padding-left: 2rem;
  }
  #gnb2 {
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.555);
    top: 100%;
    right: 0%;
    font-size: 1.5rem;
    width: 100%;
    transition: transform 0.3s ease-out;
  }
  .Hamburger-none {
    opacity: 0;
  }
  #gnb2 > div {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    justify-content: center;
    background-color: #e9edf3;
    color: #000000;
  }
  #Hamburger-div {
    display: flex;
  }
  .Hamburger {
    padding-right: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2.5rem;
    height: 2rem;
    cursor: pointer;
  }
  .Hamburger > span {
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
  }
  .Hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
  }

  .Hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .Hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
  }

  .Hamburger span {
    transition: transform 0.3s, opacity 0.3s;
  }

  #gnb2.show {
    transform: translateX(0);
  }

  #gnb2.hide {
    transform: translateX(100%);
  }
}
